body{
    margin: 0px;
    width: 100vw;
    overflow-x: hidden;
    padding: 0px;
    color: white;
    font-family: sans-serif;
}
header{
    background-image: linear-gradient(#050b17, #0f1d37);
    color: white;
    padding: 10px;
    margin-bottom: -1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
header p{
    text-align: center;
    font-size: 70px;
    margin: 0px;
}
header a{
    margin: 0px 30px;
    color: white;
}
@media screen and (max-width: 592px){
    header a{
        margin: 0px 10px;
    }
}
p, h1, h2, h3, h4{
    padding: 10px 20px;
    line-height: 1.5;
}
h1, h2, h3, h4{
    text-align: center;
}
span{
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
}
.color0-section{
    background-image: linear-gradient(#0f1d37, #1f345d);
    padding: 40px 20px 60px 20px;
}
.color1-section{
    padding-top: 20px;
    margin-top: -1px;
    background-image: linear-gradient(#1f345d, #625eab);
    padding: 20px 20px 100px 20px;
}
.color1-color2-transition{
    height: 300px;
    margin-top: -1px;
    background-image: linear-gradient(#625eab, #ddb3e3 30%, #e3b3d5 70%, #c8758a);
    position: relative;
}
#left-cloud{
    position: absolute;
    top: 20px;
    left: 0px;
    background: purple;
    padding: 30px;
    width: 100px;
    height: 100px;
}
.color2-section{
    background-image: linear-gradient(#c8758a, #e14264);
    height: fit-content;
    margin-top: -1px;
    padding: 10px 30px;
}
ul{
    width: fit-content;
    list-style-position: inside;
    margin: 20px auto;background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
}
.color3-section{
    background-image: linear-gradient(#1b3b70, #0b53a7);
    height: fit-content;
    margin-top: -1px;
}
#footer-img img{
    width: 100%;
}
@media screen and (min-width: 4001px) {
    .width-xl{
        display: block;
    }
    .width-l{
        display: none;
    }
    .width-m{
        display: none;
    }
    .width-s{
        display: none;
    }
    .width-xs{
        display: none;
    }
}
@media screen and (max-width: 4000px) {
    .width-xl{
        display: none;
    }
    .width-l{
        display: block;
    }
    .width-m{
        display: none;
    }
    .width-s{
        display: none;
    }
    .width-xs{
        display: none;
    }
}
@media screen and (max-width: 2000px) {
    .width-xl{
        display: none;
    }
    .width-l{
        display: none;
    }
    .width-m{
        display: block;
    }
    .width-s{
        display: none;
    }
    .width-xs{
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .width-xl{
        display: none;
    }
    .width-l{
        display: none;
    }
    .width-m{
        display: none;
    }
    .width-s{
        display: block;
    }
    .width-xs{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .width-xl{
        display: none;
    }
    .width-l{
        display: none;
    }
    .width-m{
        display: none;
    }
    .width-s{
        display: none;
    }
    .width-xs{
        display: block;
    }
}
