body{
    margin: 0px;
    max-width: 100vw;
    overflow-x: hidden;
    padding: 0px;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    position: relative;
}
header{
    background-image: linear-gradient(#000000, #0f1d37);
    color: white;
    margin-bottom: -1px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 40px auto;
}
header p{
    text-align: center;
    font-size: 70px;
    margin: 10px auto;
}
header a{
    margin: 0px 30px;
    color: white;
}
@media screen and (max-width: 592px){
    header a{
        margin: 0px 10px;
    }
}
#shooting-star{
    position: absolute;
    top: 80px;
    left: -100px;
}
.shooting-star--active{
    animation: cross-right 30s forwards 1s;
}
@keyframes cross-right {
    0%{
        top: 80px;
        left: -100px;
        opacity: 1;
    }
    100%{
        top: 80px;
        left: 10000px;
    }
}
p, h1, h2, h3, h4{
    padding: 10px 20px;
    line-height: 1.5;
    margin-top: 0px;
    z-index: 1000;
    position: relative;
}
h1, h2, h3, h4{
    text-align: center;
}
span{
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
}
.color0-section{
    background-image: linear-gradient(#0f1d37, #1f345d);
    padding: 40px 20px 60px 20px;
}
.color1-section{
    padding-top: 20px;
    margin-top: -1px;
    background-image: linear-gradient(#1f345d, #625eab);
    padding: 20px 20px 100px 20px;
    display: none;
}
.color1-color2-transition{
    width: 100%;
    height: 300px;
    margin-top: -1px;
    background-image: linear-gradient(#625eab, #ddb3e3 30%, #e3b3d5 70%, #c8758a);
    position: relative;
    display: none;
}
#left-cloud{
    position: absolute;
    top: 40px;
    left: 0px;
    background: #6a3f76;
    border-radius: 0% 50% 50% 0%;
    padding: 20px 15px;
    min-width: 240px;
    width: 80%;
    height: 30px;
    box-shadow: 0px -10px 10px #6a3f76, 10px 0px 10px #6a3f76,  0px 5px 5px #6a3f76, -10px 10px 10px #6a3f76, 0px 10px 20px #884d91, 0px 10px 10px #884d91;
}
#left-cloud::before{
    min-width: 100px;
    width: 40%;
    height: 50px;
    background: #6a3f76;
    border-radius: 0% 50% 50% 0%;
    display: block;
    position: absolute;
    top: -20px;
    left: 0px;
    content: '';
    box-shadow: 0px -10px 10px #6a3f76, 10px 0px 10px #6a3f76, 0px 10px 10px #6a3f76;
}
#right-cloud{
    min-width: 200px;
    width: 50%;
    height: 40px;
    background: #533d79;
    border-radius: 50% 0% 0% 50%;
    padding: 20px 15px;
    display: block;
    position: absolute;
    bottom: 40px;
    right: 0px;
    box-shadow: 0px -10px 10px #533d79, 10px 0px 10px #533d79, 0px 10px 10px #533d79;
}
#right-cloud::before{
    min-width: 80px;
    width: 30%;
    height: 40px;
    background: #533d79;
    border-radius: 50% 0% 0% 50%;
    display: block;
    position: absolute;
    bottom: 50px;
    right: 0px;
    content: '';
    box-shadow: 0px -10px 10px #533d79, 10px 0px 10px #533d79, 0px 10px 10px #533d79;
}
#right-cloud::after{
    min-width: 140px;
    width: 45%;
    height: 50px;
    background: #533d79;
    border-radius: 50% 0% 0% 50%;
    display: block;
    position: absolute;
    bottom: -20px;
    right: 0px;
    content: '';
    box-shadow: 0px -10px 10px #533d79, 10px 0px 10px #533d79, 0px 10px 10px #533d79;
}
#display-box span, #display-descriptors{
    display: inline;
    background: none;
    box-shadow: none;
    font-size: 20px;
    z-index: 1000;
    position: relative;
}
.color2-section{
    background-image: linear-gradient(#c8758a, #e14264);
    height: fit-content;
    margin-top: -1px;
    padding: 10px 30px 50px 30px;
    display: none;
}
ul{
    width: fit-content;
    list-style-position: inside;
    margin: 20px auto;background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
}
.color2-color3-transition{
    background: #e14264;
    height: 50px;
    margin-top: -1px;
    position: relative;
    display: none;
}
.glowing-curve{
    box-shadow: 0px -9px 10px #173058, 5px -10px 10px #0b53a7;
}
.left-curve{
    position: absolute;
    top: 10px;
    left: 0px;
    background: #173058;
    height: 50px;
    width: 70%;
    border-radius: 50% 50% 0% 0%;
}
.right-curve{
    position: absolute;
    top: 0px;
    right: 0px;
    background: #173058;
    height: 60px;
    width: 30%;
    border-radius: 70% 20% 0% 0%;
}
.color3-section{
    background-image: linear-gradient(#173058, #0b53a7);
    height: fit-content;
    margin-top: -1px;
    display: none;
}
footer{
    overflow-x: hidden;
    border: solid purple 2px;
}
#footer-img img{
    max-width: 100%;
}
@media screen and (min-width: 4001px) {
    .width-xl{
        display: block;
    }
    .width-l{
        display: none;
    }
    .width-m{
        display: none;
    }
    .width-s{
        display: none;
    }
    .width-xs{
        display: none;
    }
}
@media screen and (max-width: 4000px) {
    .width-xl{
        display: none;
    }
    .width-l{
        display: block;
    }
    .width-m{
        display: none;
    }
    .width-s{
        display: none;
    }
    .width-xs{
        display: none;
    }
}
@media screen and (max-width: 2000px) {
    .width-xl{
        display: none;
    }
    .width-l{
        display: none;
    }
    .width-m{
        display: block;
    }
    .width-s{
        display: none;
    }
    .width-xs{
        display: none;
    }
}
@media screen and (max-width: 1000px) {
    .width-xl{
        display: none;
    }
    .width-l{
        display: none;
    }
    .width-m{
        display: none;
    }
    .width-s{
        display: block;
    }
    .width-xs{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .width-xl{
        display: none;
    }
    .width-l{
        display: none;
    }
    .width-m{
        display: none;
    }
    .width-s{
        display: none;
    }
    .width-xs{
        display: block;
    }
}
